
@font-face {
    font-family:'novecento wide';
    src : url('fonts/novecentowide-bold-webfont.eot') format('eot'),
          url('fonts/novecentowide-bold-webfont.woff') format('woff'),
          url('fonts/novecentowide-bold-webfont.ttf') format('truetype'),
          url('fonts/novecentowide-bold-webfont.svg') format('svg');
}
body
{
    width: 900px;
    margin: auto;
    text-align: center;
}
header
{
  height: 100px;
  border-bottom: 1px black solid;
  border-shadow: 2px 2px 4px black;
  display: flex;
  justify-content: center;
}
#LogoInktober
{
  width: 80px;
  height: 80px;
}
.lalistealignee
{
  width : 100px;
  margin: auto;
  text-align: left;
}
img
{
  padding-bottom: 30px;
}
h1
{
    font-family : novecento,georgia,sans-serif;
    padding-left: 20px;
}
article h1
{
    font-family: novecento,georgia,sans-serif;
    font-weight: bold;
    font-size: 1.2em;
}
p
{
    font-family: georgia,verdana,sans-serif;
    font-weight: normal;
    font-size: 1em;
}
